.articles-list-section {
	.heading {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	ul.articles-list {
		li.year-list {
			list-style-type: none;
			margin-bottom: 4em;
			h5 {
				color: $primary-color;
			}
		}
		li.blog-article {
			list-style-type: none;
			margin-bottom: 1em;
			font-size: 110%;
			a {
				color: $grey-text-color;
				font-weight: 400;
				text-decoration: underline;
				&:visited {
					color: black;
				}
				&:hover { 
					color: black;
				}
				&:active {
					color: black;
				}
			}
		}
	}
}