.main-header{
	text-align: center;
	margin:100px 0 50px 0;
	.bye-emoji{
		width:70px;
	}
}

.gray {
  color: #a5a5a5;
}

.team-member {
  margin: 15px 0;
  padding: 0;
  -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  border-radius: 2px;
  background-clip: padding-box;
  figure {
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    img {
      min-width: 100%;
      position:absolute;
      bottom:0px;
    }
    border-radius: 2px 2px 0 0;
    height: 300px;
  }
  .member-brief {
    padding: 15px;
    border-top: 3px solid $primary-color;
    h4.name {
      margin-top: 0;
      font-weight: 600;
    }
    p.role {
      margin-top: 5px;
      font-size: 110%;
      color: $grey-text-color;
    }
  }
  
  figcaption {
    p {
      font-size: 110%;
    }
    ul.social-links {
      list-style: none;
      margin: 10px 0 0 0;
      padding: 0;
      visibility: visible;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      text-align: center;
      li {
        display: inline-block;
        padding: 10px;
        a {
          i.fa {
            color: white;
          }
        }
      }
    }
    padding: 20px;
    @media only screen and (max-width : 480px) {
      padding: 10px;
    }
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  h4 {
    margin: 10px 0 0;
    padding: 0;
  }
  figure {
    &:hover figcaption {
      visibility: visible;
      color: #fff;
      background: rgba(196, 33, 66, 0.9);
      /* Primary color, can be changed via colors.css */
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      ul li a:hover {
        color: rgba(49, 49, 49, 0.97);
      }
    }
    img {
      -webkit-transform: scale(1) rotate(0) translateY(0);
      -moz-transform: scale(1) rotate(0) translateY(0);
      -o-transform: scale(1) rotate(0) translateY(0);
      -ms-transform: scale(1) rotate(0) translateY(0);
      transform: scale(1) rotate(0) translateY(0);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &:hover img {
      -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
      -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
      -o-transform: scale(1.1) rotate(1deg) translateY(12px);
      -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
      transform: scale(1.1) rotate(1deg) translateY(12px);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
}

.brand-logo {
	position: absolute;
	top: 30px;
	left: 30px;
	max-width: 200px;
}
.role-filter-pills {
	padding-left: 15px;
	margin-bottom: 30px;
}



