.main-header{
	text-align: center;
	margin:100px 0 50px 0;
	.bye-emoji{
		width:70px;
	}
}
.our-team{
	img{
		margin-bottom:30px;
		border-radius: 2px;
	}
	.profile-pic-wrapper{
		position: relative;
		min-height: 270px;
	}
	.profile-pic-overlay{
		position: absolute;
		bottom: 30px;
		width: 100%;
		background-color: RGBA(6, 6, 6, 0.8);
		color:white;
		text-align:center;
		padding: 10px 0px;
		.profile-name {
			font-weight: 400;
			font-size: 120%;
		}
		.profile-job-title {
		}
	}
}
.brand-logo {
	position: absolute;
	top: 30px;
	left: 30px;
	max-width: 200px;
}
.role-filter-pills {
	padding-left: 15px;
	margin-bottom: 30px;
}

