.button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid transparent;
  background: #FFFFFF;
  font-weight: normal;
  color: #2A2A2A;
  -webkit-appearance: none;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  padding: 10px 15px;
  text-align: center;
  box-shadow: none;
  display: inline-block;
  margin-top: 20px;
  &:hover, &:active, &:focus, &:visited {
    color: $primary-color;
    text-decoration:none;
  }
}

.button-red-border {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
  &:hover, &:focus {
    background-color: $primary-color;
    color: white;
    text-decoration: none;
  }
}

.button-red-filled {
  background-color: $primary-color;
  color: white;
}

.button-black-border {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  &:hover, &:focus {
    background-color: $secondary-color;
    color: white;
    text-decoration: none;
  }
}

.button-black-filled {
  background-color: $secondary-color;
  color: white;
}

.button-white-filled {
  background-color: white;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}