---
title: Multunus | Blog
---
<section class="articles-list-section">
  <h1 class="text-center heading">Blog</h1>

  <%= partial(:subscribe) %>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="articles-list">
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li class="year-list">
              <h5><%= year %></h5>
              <ul>
                <% articles.each do |article| %>
                  <li class="blog-article"><a href="<%= article.url %>"><%= article.title %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
