---
title: Community-Page
---
<div class="community-section" id="community-section">
        <div class="container">
            <div class="row">
                <h1 class="text-center">We <img src="/images/community/community-heart.svg" class="heart"> our community</h1>
            </div>
            <section class="open-source-section">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Open Source</h2>
                        <p class="spacing">We highly believe in open source technologies. With open source we are more productive & fight lesser number of problems every day.</p>
                        <p class="spacing">Open source projects helps us in developing a more polished product over time. Its stops us from reinventing the wheel & encourages us to build upon the work done by the community. We equally spend time contributing to projects & giving back to the community.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://github.com/multunus/dashboard-clj" target="_blank">
                                    <div class="repo-card">
                                        <img src="/images/community/community-dashboard.svg">
                                        <div class="repo-info">
                                            <h5 class="repo-title">CLJ Dashboard</h5>
                                            <p class="repo-description">A Clojure mini-framework for building realtime dashboards</p>
                                        </div>
                                        <div class="repo-stats">
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Stars</p>
                                                <p class="repo-stat">77</p>
                                            </div>
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Forks</p>
                                                <p class="repo-stat">3</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://github.com/multunus/Open-Playbook" target="_blank">
                                    <div class="repo-card">
                                        <img src="/images/community/community-network.svg">
                                        <div class="repo-info">
                                            <h5 class="repo-title">Open Playbook</h5>
                                            <p class="repo-description">Our open culture, tools and process playbook.</p>
                                        </div>
                                        <div class="repo-stats">
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Stars</p>
                                                <p class="repo-stat">33</p>
                                            </div>
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Forks</p>
                                                <p class="repo-stat">5</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://github.com/multunus/onemdm-server" target="_blank">
                                    <div class="repo-card">
                                        <img src="/images/community/community-database.svg">
                                        <div class="repo-info">
                                            <h5 class="repo-title">One MDM Server</h5>
                                            <p class="repo-description">Open Source Mobile Device Management (MDM) solution</p>
                                        </div>
                                        <div class="repo-stats">
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Stars</p>
                                                <p class="repo-stat">31</p>
                                            </div>
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Forks</p>
                                                <p class="repo-stat">12</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://github.com/multunus/autonomous-rc-car" target="_blank">
                                    <div class="repo-card">
                                        <img src="/images/community/community-racing.svg">
                                        <div class="repo-info">
                                            <h5 class="repo-title">Autonomous RC car</h5>
                                            <p class="repo-description">Autonomous RC car using Raspberry Pi and ANN</p>
                                        </div>
                                        <div class="repo-stats">
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Stars</p>
                                                <p class="repo-stat">142</p>
                                            </div>
                                            <div class="repo-stats-group">
                                                <p class="repo-stats-title">Forks</p>
                                                <p class="repo-stat">37</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="/community/open-source/" class="button button-red-border">See more projects</a>
                    </div>
                </div>
            </section>
            <section class="blog-section">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Blog</h2>
                        <p class="spacing">We write a lot about technology & design. We have always found better ways to improve our craft by reading articles from the community. It has given our team an opportunity to understand different perspectives & ideas on solving a particular problem.</p>
                        <p class="spacing">The learnings vary from small insights to full blown realizations. In some cases it helps us to connect the dots & understand the bigger picture.</p>
                        <div class="row">
                            <div class="col-md-6">
                                 <ul class="resource-links">
                                    <li class="resource-link">
                                        <a href="/blog/2016/07/test-driving-react-native-applications/" target="_blank">
                                            <h4>Test driving React Native applications</h4>
                                            <p>React Native is a game changing mobile app development framework that concentrates on fast...</p>
                                        </a>
                                    </li>
                                    <li class="resource-link">
                                        <a href="/blog/2016/11/building-sql-like-dsl-clojure-part-1/" target="_blank">
                                            <h4>Building an SQL like DSL in Clojure</h4>
                                            <p>Clojure is a modern dialect of Lisp. Being a Lisp is what gives Clojure a lot of its power. Clojure...</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="resource-links">
                                    <li class="resource-link">
                                        <a href="/blog/2016/02/noobs-walkthrough-re-frame-app/" target="_blank">
                                            <h4>Re-frame Application</h4>
                                            <p>Re-frame is a very simple but expressive library for writing single-page applications (SPAs)...</p>
                                        </a>
                                    </li>
                                    <li class="resource-link">
                                        <a href="/blog/2016/12/continuous-delivery-us/" target="_blank">
                                            <h4>Autonomous RC car</h4>
                                            <p>In this project, we will be building an autonomous rc car using supervised learning of a neural...</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="/blog" class="button button-red-border">Read more articles</a>
                    </div>
                </div>
            </section>
            <section class="talks-section">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Conference talks</h2>
                        <p class="spacing">We are very active with giving talks & attending conferences. This is one of the ways in which we keep ourseleves closely engaged with the community. Apart from learning something new at conferences, meeting new people & sharing our experiences with others help us with networking.</p>
                        <p class="spacing">Supporting conferences has also helped us in gaining more exposure & awareness about the happening in the community. The inspiration that we get from every conference pushes us to work harder every day.</p>
                        <div class="talks">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="media-card">
                                        <a href="https://www.youtube.com/watch?v=E15ZV7eL5CM" target="_blank" data-lity>
                                            <figure class="media">
                                                <span style="background-image: url('/images/community/community-rootconf.jpg');"></span>
                                            </figure>
                                            <div class="meta">
                                                <p class="heading">Rootconf 2016</p>
                                                <p class="description">Merge Hells? Feature Toggle to the Rescue</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="media-card">
                                        <a href="/blog/2014/02/sponsor-tech-conference-experiments/">
                                            <figure class="media">
                                                <span style="background-image: url('/images/community/community-multunus.jpg');"></span>
                                            </figure>
                                            <div class="meta">
                                                <p class="heading">Meta Refresh 2014</p>
                                                <p class="description">Twitter Puzzle, Pair Programming & more</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="media-card">
                                        <a href="https://www.youtube.com/watch?v=2kJW0Mpg844" target="_blank" data-lity>
                                            <figure class="media">
                                                <span style="background-image: url('/images/community/community-droidcon.jpg');"></span>
                                            </figure>
                                            <div class="meta">
                                                <p class="heading">Droidcon 2015</p>
                                                <p class="description">Learnings from building Custom MDM</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
