---
title: Welcome to Middleman
---
<section class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>This is goodbye</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <p>
          As we close our doors at Multunus, we want to thank everyone who has poured their creative energy into this company over the years, and especially recognize an amazing group of people who helped us finish strong.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="profile-pic-wrapper">
          <img src="https://d3iw72m71ie81c.cloudfront.net/bac97ee5-514d-41d5-b5f3-555e718fc959-fotoperfil.jpg">
          <div class="profile-pic-overlay">
            <div class="profile-name">
              John Thachil
            </div>  
            <div class="profile-job-title">
              Designer
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>