---
title: Multunus | Blog
---
<section class="articles-list-section">
  <h1 class="text-center heading">Blog tagged '<%= tagname %>'</h1>
  <%= partial(:subscribe) %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="articles-list">
          <% page_articles.each_with_index do |article, i| %>
            <li class="blog-article"><a href="<%= article.url %>"><%= article.title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>


